<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentContentCar">
            <h2><span>Document Content Car</span> {{documentContentCar.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{documentContentCar.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{documentContentCar.content}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document-content-car', documentContentCar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
